.section {
    margin: 120px 50px 80px 50px;
    >h1{
        color: #FFFFFF;
        font-size: 1.8rem;
    }
    &__Project{
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 40px;
        row-gap: 40px;
    }
}
