.AboutMe {  
    >h1{
        margin-left: 50px;
        color: #FFFFFF;
    }
}

.process-wrapper{
    margin: auto;
    max-width: 1080px;
}

#progress-bar-container{
    position: relative;
    width: 90%;
    margin: auto;
    height: 100px;
    margin-top: 65px;
}

#progress-bar-container li.active:before, #progress-bar-container li:hover:before {
	border:solid 2px #fff;	 
	background: linear-gradient(to right, #6c1ee9 0%, #603a9d 50%,#fff 100%); 
}

#progress-bar-container li {
	list-style:none;
	float:left;
	width:33.33%;
	color:#aaa;
	text-transform:uppercase;
	font-size:11px;
	cursor:pointer;
	font-weight:700;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height:60px;
	position:relative;

	// Organizando bolinhas abaixo do progress bar
	&:nth-child(1) div{
		margin-left: 26%;
	}
	&:nth-child(2) div{
		margin-left: 44%;
	}
	&:nth-child(3) div{
		margin-left: 63%;
	}
	
	//Bola acima da progress bar
	&:nth-child(1):before{
		content: "";
		display:block;
		margin: 0 27%;
		width:30px;
		height:30px;
		border-radius:50%;
		border:solid 2px #aaa;
		transition:all ease 0.3s;
	}

	&:nth-child(2):before{
		content: "";
		display:block;
		margin: auto;
		width:30px;
		height:30px;
		border-radius:50%;
		border:solid 2px #aaa;
		transition:all ease 0.3s;
	}

	&:nth-child(3):before{
		content: "";
		display:block;
		margin: 0 63%;
		width:30px;
		height:30px;
		border-radius:50%;
		border:solid 2px #aaa;
		transition:all ease 0.3s;
	}

	//Bolinhas abaixo da progress bar.
	&:nth-child(1):after{
		content:" ";
		display:block;
		width:6px;
		height:6px;
		background:#777;
		margin:0 28%; //alinhamento com a progress bar
		border:solid 7px #fff;
		border-radius:50%;
		margin-top:40px;
		box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
		transition:all ease 0.2s;
	}
	&:nth-child(2):after{
		content:" ";
		display:block;
		width:6px;
		height:6px;
		background:#777;
		margin:auto; //alinhamento com a progress bar
		border:solid 7px #fff;
		border-radius:50%;
		margin-top:40px;
		box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
		transition:all ease 0.2s;
	}
	&:nth-child(3):after{
		content:" ";
		display:block;
		width:6px;
		height:6px;
		background:#777;
		margin:0 65%; //alinhamento com a progress bar
		border:solid 7px #fff;
		border-radius:50%;
		margin-top:40px;
		box-shadow:0 2px 13px -1px rgba(0,0,0,0.3);
		transition:all ease 0.2s;
	}

	//cor interna bolinha mouse fora
	&.active:after{
		background:#603a9d;
	}

	//cor interna bolinha mouse em cima
	&:hover:after{
		background:#000000;
	}
}

//Anos acima da progress bar e abaixo das bolas maiores
#progress-bar-container li .step-inner {
	position:absolute;
	width:100%;
	bottom:0;
    font-size: 0.95rem;
}

#progress-bar-container li.active, #progress-bar-container li:hover {
	color:#444;
}


#progress-bar-container #line {
	width:80%;
	margin:auto;
	background: #eee;
	height:6px;
	position:absolute;
	left:10%;
	top:57px;
	z-index:1;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:8.5%;
	height:100%;
	background: #207893;	 
	background: linear-gradient(to right, #207893 0%,#2ea3b7 100%); 
	position:absolute;
	z-index:2;
	border-radius:50px;
	transition:all ease 0.9s;
}

#progress-content-section {
	width:90%;
	margin: auto;
	background: #f3f3f3;
	border-radius: 4px;
}

#progress-content-section .section-content {
	padding:30px 40px;
	text-align:center;
}

#progress-content-section .section-content h2 {
	font-size:17px;
	text-transform:uppercase;
	color: #ffffff;
	letter-spacing:1px;
}

#progress-content-section .section-content p {
	font-size:16px;
	line-height:1.8em;
	color:#777;
}

#progress-content-section .section-content {
	display:none;
	//FadeInUp
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
}

#progress-content-section .section-content.active {
	display:block;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(0px);
		opacity:0.95;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}
