.button {
    background-image: linear-gradient(to left, #13ADC7, #6978D1, #945DD6);
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    padding: 7px;
    color: #FFFFFF;
    cursor: pointer;
    transition: ease-in-out;
    transition-duration: 200ms;
    transition-delay: 100ms;
}
.button:hover {
    transform: translateY(-5px); /* Subindo */
}